

/* Fonts */

@font-face {
	font-family: Univers;
	src: url('fonts/UniversLTStd-UltraCn.otf');
}

@font-face {
	font-family: SentinelMedium;
	src: url('fonts/Sentinel-Medium.otf');
}

@font-face {
	font-family: SentinelBook;
	src: url('fonts/Sentinel-Book.otf');
}

@font-face {
	font-family: SentinelLight;
	src: url('fonts/Sentinel-Light.otf');
}

@font-face {
	font-family: SentinelLightItalic;
	src: url('fonts/Sentinel-LightItalic.otf');
}

@font-face {
	font-family: Lucida;
	src: url('fonts/LucidaSansStd.otf');
}


/* Site wide */

img {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	user-drag: none;
}

a {
    color: #0060A8;
}

a:hover, #details a:hover, #follow a:hover  {
	border-bottom: 1px solid #B560A8;
	color: #B560A8;
	-webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

body, html {
	margin: 0;
}

#header {
	height: 45%;
	max-height: 400px;
	background: url('img/berkeley3.jpg') no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#logo {
	width: 250px;
	margin: 0 auto;
	padding: 60px 0 0 0;
	display: block;
}

#content {
	width: 60%;
	margin: 80px auto 20% auto;
	min-width: 280px;
	max-width: 800px;
}

.italiclink {
	font-size: 1.2rem;
	font-family: 'SentinelLightItalic';
	text-decoration: none;
	color: #0060A8;
	border-bottom: 1px dashed #0060A8;
}

.box {
	margin: 100px auto 120px auto;
	width: 100%;
}

.section {
	margin: 0 0 20px 0;
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Univers';
	letter-spacing: 2px;
	color: #0060A8;
	border-bottom: 2px solid #0060A8;
}

#line {
	width: 60%;
	min-width: 280px;
	margin: 0 auto -8px auto;
	border-bottom: 2px solid #444;
}

#footer {
	text-align: center;
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Univers';
	letter-spacing: 2px;
	background-color: white;
	width: 220px;
	margin: 0 auto;
	color: #444;
}


/* Home page */

.fb-like {
	margin: 0 0 20px 0;
}

#intro {
	font-family: 'SentinelLight';
	font-size: 2rem;
	line-height: 130%;
	color: #003A70;
	margin: 0 0 5px 0;
}

#name {
	font-family: 'SentinelMedium';
	font-size: 1.8rem;
	margin: 0 0 5px 0;
}

#details {
	font-family: 'SentinelBook';
	margin: 5px 0;
	font-size: 1.3rem;
	margin: 0 0 20px 0;
	color: #5B89A5;
}

#details a {
	color: #0060A8;
	text-decoration: none;
	border-bottom: 1px dashed #0060A8;
}

.more-link {
	display: none;
}

#description {
	font-size: 1rem;
	font-family: 'Lucida';
	line-height: 140%;
	margin: 0 0 10px 0;
}

#follow {
	font-size: 1.5rem;
	font-family: 'SentinelLight';
	line-height: 150%;
}

#follow a {
	color: #0060A8;
	text-decoration: none;
	border-bottom: 1px dashed #0060A8;
}

#mce-EMAIL {
	width: 320px;
	height: 35px;
	margin: 30px 0 0 0;
	font-size: 1.1rem;
	padding: 8px;
	border: none;
	background-color: #eee;
}

#mce-EMAIL:focus {
    outline: 2px solid #bbb;
}

#mc-embedded-subscribe {
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Univers';
	letter-spacing: 2px;
	padding: 7px 10px 2px 10px;
	height: 35px;
	background-color: #eee;
	border: none;
	margin: -35px 0 0 325px;
	color: #888;
	cursor: pointer;
	position: absolute;
}

#mc-embedded-subscribe:hover {
	background-color: #B560A8;
	color: #fff;
	-webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

#mc_embed_signup .button.ready {
	background-color: #0060A8;
	color: #fff;
	-webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

#mc_embed_signup .button.ready:hover {
	background-color: #B560A8;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}


/* About page */

#about {
	font-size: 1.3rem;
	font-family: 'SentinelLight';
	line-height: 150%;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}


/* Mobile */

@media screen and (max-device-width: 480px) { 

    #header {
        height: 205px;
        background: white;
    }

    #content {
        margin: 15% auto 15% auto;
        width: 85%;
    }

    #logo {
        margin: 20px auto 0 auto;
    }

    .fb-like {
        display: none !important;
    }

    #mce-EMAIL {
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        text-align: center;
    }

    #mc-embedded-subscribe {
        width: 100%;
        margin: 5px auto 5% auto;
        height: 50px;
        font-size: 1.5rem;
        position: relative;
    }

    #line {
        display: none;
    }

    #footer {
        display: none;
    }

    .box {
        margin: 25% auto;
    }

    #follow {
        line-height: 140%;
    }

    #intro {
        line-height: 115%;
    }

    #about {
        line-height: 130%;
    }

}

